body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
div {
  width: 400px;
}
.checking {
  width: 340px;
  min-height: 50px;
  padding-left: 60px;
  background: transparent url('/img/spinner.gif') no-repeat left center;
}

.checking .url {
  color: #666;
}

.error {
  padding: 10px;
  background-color: #F99;
}

.hidden {
  display: none;
}

.posters {
  margin: 0;
  list-style-type: none;
}

.posters .time {
  color: #666;
  font-size: 12px;
}
